* {
    margin: 0;
    padding: 0;
    font: 16px Helvetica, Verdana, sans-serif;
}

.home-main {
    width: 90%;
    margin: 60px auto;
    display: flex;
    justify-content: space-evenly;
}
.home-main .home-row {
    width: 30%;
    text-align: center;
}

.home-main .home-row p:last-child {
    padding-top: 16px ;
}

.home-main .home-row img {
    width: 100%;
}